<section>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar__brand">
        <a class="navbar-brand" href="/">Screen Audit</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNav" aria-controls="navbarNav"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar__nav collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="navbar__nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="navbar__nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="navbar__nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>