:root {
    --color-light-shade: #F6F6F2;
    --color-light-accent: #6296B5;
    --color-main: #4754FF;
    --color-dark-accent: #B03D59;
    --color-dark-shade: #1F1521;

    --text-font-header: 'Source Serif', serif;
    --text-font-body: 'Inter', sans-serif;
    --text-color-dark: black;
    --text-color-light: white;

    font-size: 16px;
}