body {
    background-color: var(--color-light-shade);
    color: var(--text-color-dark);
}

.container {
    max-width: 48rem;
}

.card {
    background-color: white;
    border-radius: 0.6rem;
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.card-body {
    padding: 2rem;
}

.card-title {
    color: var(--color-main);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.btn-primary {
    background-color: var(--color-main);
    border-color: var(--color-main);
}

.btn-primary:hover {
    background-color: var(--color-dark-accent);
    border-color: var(--color-dark-accent);
}

h1 {
    color: var(--color-main);
}

.lead {
    color: var(--color-dark-accent);
}